.dog-address {
  color: #c4c4c4;

}
.dog-image {
  width: 100%;
  margin-bottom: 20px;
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.dog-show-heading {
  margin-top: 30px;
}
