<h1>Dogs#show</h1>
<p>Find me in app/views/dogs/show.html.erb</p>

<h1><%= @dog.name %></h1>
<p><%= @dog.biography %></p>
<div><%= link_to "Edit this dog", edit_dog_path %>
<div><%= link_to "Back to all dogs", dogs_path %></div>
