<div id="home-banner">
  <div id="banner-content">
    <div id="banner-text">

      <%= image_tag "dog_banner.jpg", id: "home-banner-img" %>

      <h1>Dog for a Day - Friend for a Lifetime</h1>

      <p>
        Enter your city in the search bar above to be matched with lonely bitches in your area.
        Heavy petting is encouraged.
      </p>

    </div>
  </div>
</div>
