<footer id="footer-content">
 <div id="footer-icons">
    <i class="sm-icon fab fa-twitter fa-2x"></i>
    <i class="sm-icon fab fa-instagram fa-2x"></i>
    <i class="sm-icon fab fa-facebook-square fa-2x"></i>
  </div>
</footer>