.index-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 16px;
  padding: 16px 150px 16px;
}

.index-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
