#footer-content {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  background-color: $base;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 8px 0;
}

.sm-icon {
  padding: 0 6px;
  color: #FFFFFF;

  &:hover {
    color: $accent;
  }
}

#footer-icons {
  margin: 0 auto;
}