.login-form {
  margin: 50px auto;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
  background-color: #FFF;
  border-radius: 4px;
  width: 50%;
   .form-inputs {
    padding: 0px 33px;
  }
  .form-actions {
    padding: 0px 33px 20px;
  }
}

.login-background {
  width: 60%;
  height: 921px;
  float: right;
  background-color: #16C79A;
  position: relative;
  margin-top: 40px;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
  padding: 70px 30px;
  display: flex;
  overflow: visible;
}

.create-form {
  width: 70%;
  height: auto;

  box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
  background-color: #FFF;
  border-radius: 4px;
  position: absolute;
  left: -40%;
  margin: 0 30px;

  .form-inputs {
    padding: 0px 33px;
  }
  .form-actions {
    padding: 0px 33px 20px;
  }
}

.form-actions {
  input {
    width: 100%;
    background-color: #16C79A;
    text-align: center;
    border-radius: 4px;
  }

  .btn-login {
    padding: 21px 0;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
  }
}


.create-background {
  width: 60%;
  height: 921px;
  float: right;
  background-color: #16C79A;
  position: relative;
  margin-top: 40px;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
  padding: 70px 30px;
  display: flex;
  overflow: visible;
  :after {
    content: " ";
  }
}

.login-text {
  width: 55%;
  right: 30px;
  position: absolute;
  // text-align: left;
  h2, p {
    color: #FFF;
  }
}

.login-form-heading {
  text-align: center;
  background-color: #FF6912;
  padding: 16px;
  color: #FFF;
  margin-bottom: 16px;
  border-radius: 4px 4px 0px 0px;

  h3 {
    margin: 0 auto;
  }
}
