.login-form {
  margin: 0 auto;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
  background-color: #FFF;
  border-radius: 4px;
  width: 475px;
  z-index: 1;
  position: relative;
  top: -50px;
   .form-inputs {
    padding: 0px 33px;
  }
  .form-actions {
    padding: 0px 33px 20px;
  }
}

.login-background {
  background-color: #16C79A;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
  margin: 100px auto;
  width: 80%;
  z-index: 0;
  height: 350px;
  padding-bottom: 50px;
}

.login-links {
  padding: 0px 33px 20px;
  a {
    // text-decoration: underline;
    color: #000
  }
}

.create-form {
  width: 70%;
  height: auto;

  box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
  background-color: #FFF;
  border-radius: 4px;
  position: absolute;
  left: -40%;
  margin: 0 30px;

  .form-inputs {
    padding: 0px 33px;
  }
  .form-actions {
    padding: 0px 33px 20px;
  }
}

.create-background {
  width: 60%;
  height: 921px;
  float: right;
  background-color: #16C79A;
  position: relative;
  margin-top: 40px;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
  padding: 70px 30px;
  display: flex;
  overflow: visible;
  :after {
    content: " ";
  }
}

.login-text {
  width: 55%;
  right: 30px;
  position: absolute;
  // text-align: left;
  h2, p {
    color: #FFF;
  }
}

.login-form-heading {
  text-align: center;
  background-color: #FF6912;
  padding: 16px;
  color: #FFF;
  margin-bottom: 16px;
  border-radius: 4px 4px 0px 0px;

  h3 {
    margin: 0 auto;
  }
}

.form-actions {
  input {
    width: 100%;
    background-color: #16C79A;
    text-align: center;
    border-radius: 4px;
  }

  .btn-login {
    padding: 21px 0;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
  }
}

.create-dog-form {
  margin: 0 auto;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
  background-color: #FFF;
  border-radius: 4px;
  width: 80%;
  z-index: 1;
  position: relative;
  top: -50px;
   .form-inputs {
    padding: 0px 33px;
  }
  .form-actions {
    padding: 0px 33px 20px;
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #FF6912;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: asset-url('paw-solid.svg');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: asset-url('paw-solid.svg');
  cursor: pointer;
}

.dog-slider-labels {
  display: flex;
  justify-content: space-between;

  p {
    color: #C4C4C4;
  }
}

.range {
  margin-bottom: 10px;
}
