.navbar {
  justify-content: space-between;
  background: #16C79A;
  color: #ffffff;
}

.navbar h1 {
  color: #ffffff;
  text-decoration: none;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-list {
  display: flex;
}

.navbar-list-item {
  display: flex;
}
