.navbar-dfad {
  justify-content: space-between;
  background: $base;
  align-items: center;
  height: 54px;
}
.navbar-dfad .navbar-collapse {
  flex-grow: 0;
}
.avatar {
  width: 40px;
  margin: 0px 6px;
}

.nav-icon {
  color: white;
}

.navbar {
  a {
    color: #ffffff;
    text-decoration: none;
  }
}

#query {
  width: 462px;
  height: 40px;

  background: #FFFFFF;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-color: white;
  z-index: 1;
}

.dropdown-menu {
  border-radius: 4px;
  a {
    color: $dark-grey;
  }
}
/* Navbar buttons */

.search-btn {
  background: $base;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;

  font-family: Montserrat;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  margin: 0 6px;

  &:hover {
    background: #FFFFFF;
    color: $base;
  }
}

#navbarDropdown {
  color: #FFFFFF;
}

#reg-dog-btn {
  background: $base;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;

  font-family: Montserrat;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  margin: 0 6px;

  &:hover {
    background: #FFFFFF;
    a {
      color: $base;
    }
  }
}

#login-btn {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;

  a {
    color: $base;
  }

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 0 6px;

  &:hover {
    a {
      color: $accent;
    }
  }
}
